html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgb(249, 247, 196);
}

.contenair {
  display: grid;
  /* grid-gap: 0px; */
  grid-template-columns: repeat(16, [col] 6.25%);
  grid-template-rows: repeat(8, [row] 6.25%);
  background-color: #fff;
  /* color: #444; */
}

.box {}

.backroundHeader {
  background-image: url("../img/newyork.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  z-index: 9;
}

.spiderman {
  grid-column: col 4 / span 7;
  grid-row: row 2 / span 7;
  /* background-color: #949ab0; */
  z-index: 10;
}

.vide1 {
  grid-column: col 1 / span 5;
  grid-row: row 1 / span 5;
  /* background-color: #b0e89e; */
}

.bd {
  grid-column: col 1 / span 3;
  grid-row: row 5 / span 3;
  z-index: 2;
}

.anim {
  grid-column: col 3 / span 3;
  grid-row: row / span 3;
  z-index: 3;
}

.img-head {
  width: 100%;
  max-width: 475px;
  height: auto;
}

.imgTransparent-head {
  width: 100%;
  max-width: 25px;
  height: 25px;
}